---
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro'
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'RJ Croce Foundation',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <!-- uncomment if we need actions -->
  <!-- actions={[
      {
        variant: 'primary',
        text: 'Get template',
        href: 'https://github.com/onwidget/astrowind',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Learn more', href: '#features' },
    ]} -->
  <Hero>
    <Fragment slot="title"> Save The Date </Fragment>

    <Fragment slot="subtitle">
      <span class="inline text-3xl">
        <span class="font-semibold"
          ><span>3rd Annual RJ Croce Celebration</span>
          <br />
          <span>Golf Outing</span>
          <br />
          <span>8/21/25</span>
          <br />
          <span>Beacon Hill Country Club</span>
          <span>Middletown, NJ</span>
        </span>
      </span>
    </Fragment>
  </Hero>

  <Content
    title="Our Story"
    image={{
      src: '~/assets/images/RJ_Clubs2.JPG',
      alt: 'RJ and Golf Clubs',
    }}
  >

    <Fragment slot="content">
      <p class="text-justify text-xl">
        The RJ Croce Foundation was founded in 2023 to celebrate the life and honor the memory of Ronald “RJ” Anthony Croce.  RJ enriched the lives  of everyone who knew him.  
        His unqualified support of friends, his inherent dependability, combined with a captivating joyful nature, was the essence of RJ.  We established this public charity to continue  RJ's legacy.  
        What led us to award college scholarships was RJ's unique love for his time at school! While earning his associate's degree from Brookdale Community College, RJ served as a volunteer for the Rumson First Aid Squad and graduated with a 4.0 GPA. 
        RJ then brought his bright spirit to Rutgers University, sharing  countless hilarious memories with his Alpha Sigma Phi Fraternity brothers, yet still graduating with honors from the Business School.  
        His successes in college were simply an extension of the relationships he fostered with his hometown friends attending Rumson Fair Haven Regional High School.
      </p>
    </Fragment>
  </Content>

  <Content
    isAfterContent
    isReversed
    image={{
      src: '~/assets/images/Trophies.jpg',
      alt: 'Collection of Trophies',
    }}
  >

    <Fragment slot="content">
      <p class="text-justify text-xl">
        What began as a gathering of friends and family to celebrate the life of RJ, on land sacred to him, the golf course, the annual RJ Croce Celebration Golf Outing raises funding to award four annual $2,500 scholarships to first year students attending Brookdale Community College.
        <br><br>
        RJ's bright and supportive spirit carries on through our work as we help students create their own collegiate lifelong relationships leading to legacies like RJ.  We see no better way to honor the accomplishments as well as the memory of RJ. 
      </p>
    </Fragment>
  </Content>

</Layout>
