---
import Payment from '~/components/ui/Payment.astro';
import Sponsorship from '~/components/ui/Sponsorship.astro';
import Volunteering from '~/components/ui/Volunteering.astro';
import Layout from '~/layouts/PageLayout.astro';
import Features from '~/components/widgets/Features.astro';
 

const metadata = {
  title: 'Get Involved',
};



---

<Layout metadata={metadata}>
  <div class="px-4 md:px-6 py-12 md:py-16 lg:py-20 text-default">
    <h1
      class="text-5xl text-center md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade"
    >
      {metadata.title}
    </h1>

    <div class=" mx-auto max-w-3xl ">
      <Features
      title="Join us for the 3<sup>rd</sup> Annual RJ Croce Golf Outing",
      columns={2},
      items={[
        {
          title:"Join Us",
          description:
            "<b>Date:</b> 8/21/25 \
            <br>\
            <b>Location:</b> Beacon Hill Country Club, Middletown, NJ \
            <br>\
            <b>Registration Fees:</b>\
            <br>\
            <span class='pl-8'></span>$325 per golfer\
            <br>\
            <span class='pl-8'>$1300 per foursome",
        },
        {
          title: 'The Day',
          description:
            "11:30 AM - BBQ COOKOUT & REGISTRATION \
            <br>\
            1:00 PM - SHOTGUN\
            <br>\
            6:00 PM - COCKTAIL HOUR\
            <br>\
            6:30 PM - DINNER & AWARDS",

        }
      ]}
      >
      </Features>
      <p class="text-lg text-center leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
        More ways to participate! Not a golfer? Come join us for lunch and/or dinner to enjoy the day with friends and family for a good cause! Plus serene views of the New York City Skyline and Sandy Hook Bay!
      </p>

      <p class="text-xl text-center leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200 intersect-once intersect-quarter motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
        Lunch: $50 per person
        <br>
        Dinner $125 per person
        <br>
        Lunch & Dinner: $150 per person
      </p>

  </div>

    <Sponsorship />
    <Payment />
    <Volunteering />
  </div>
</Layout>
