---
import RJ_Foundation_Mini from '../src/assets/images/RJ_Foundation_Mini3.png';
---

<span class="rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <img
    src={RJ_Foundation_Mini}
    alt="Foundation Logo"
    style="max-width:140px; height:auto; border-radius: 10%"
  />
</span>
