---
import RJ_Logo from '../src/assets/images/RJ_Logo.jpg';
---

<span class="rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white">
  <img
    src={RJ_Logo}
    alt="Foundation Logo"
    style="max-width:100px; height:auto; border-radius: 10%"
  />
</span>
