---
import Layout from '~/layouts/PageLayout.astro';
import Pillars from '~/components/widgets/Pillars.astro';

const metadata = {
    title: 'Brookdale',
};
---
  
<Layout metadata={metadata}>
    <Pillars 
        title="Our Work"
        sub_title="RJ Croce Meaningful Scholarships<br><p class='text-2xl'>Four $2,500 Scholarships<br>Brookdale Community College</p>"
        information={[
            "The RJ Croce Foundation, Inc. offers four $2,500 scholarships each year to Monmouth County resident first year students attending Brookdale Community College. The scholarships are awarded to students who exemplify one of the Four Pillars of the RJ Croce Meaningful Scholarship prompt and meet the minimum requirements. "
        ]}

        testimonials={[
            {
                title: "Scholarship Recipient",
                testimonial: "Thank you so much for awarding me the RJ Croce Meaningful Scholarship. Your generosity means a great deal to me and to my family that I read the essay to and was based off. I shared how the support of my community and local police has helped us through difficult times and receiving this scholarship reminds me that there are people who truly believe in me and my future. I am committed to working hard and giving back to my community as they have to me. Thank you again for this opportunity and for making a difference in my life.",
                name: "Maricarmen",
                job: "2025 Scholarship Recipient"
            },
            {
                title: "Scholarship Recipient",
                testimonial: "I am profoundly grateful for being chosen for the R. J. Croce Meaningful Scholarship. As a passionate student of electrical engineering at Brookdale Community College, your generosity comes as a huge support, lifting the financial burden on my family and empowering me to focus solely on academic excellence. This scholarship is not just financial support; it's a vote of confidence in my potential. With this opportunity, I am equipped to delve deeper into my studies, explore innovative projects, and advance towards my goal of becoming a skilled electrical engineer. Thank you for this transformative gift and for believing in my journey. Your faith in me is a powerful motivator, and I am committed to paying it forward through my dedication and hard work.",
                name: "Jake",
                job: "2025 Scholarship Recipient"
            },
            {
                title: "Scholarship Recipient",
                testimonial: "To whom this may concern within the Brookdale Community College Foundation, I would like to thank you for choosing me as a recipient of the RJ Croce Meaningfulness Scholarship. Being able to put this towards my education is beyond helpful as writing such a vulnerable piece was so therapeutic yet also brough up some very hard memories. I honestly am still shocked and apologize for having what feels like a lack of words and expression. I'm just very happy and overwhelmed that my story was seen and heard. Again, thank you.",
                name: "Gabriella",
                job: "2025 Scholarship Recipient"
            },
            {
                title: "Scholarship Recipient",
                testimonial: "Thank you RJ Croce meaningful scholarship donors for this opportunity. This means a lot to me I am very happy to have received this email today for me it is a blessing. Thank you so much for helping me out and for me to continue to keep attending Brookdale Community College. You are the best thank you so so much. I hoping to meet you soon so that I can thank you in person and whenever you need a mariachi I will be there god bless you and for the work you do thank you so much have a blessed day!",
                name: "Erik",
                job: "2025 Scholarship Recipient"
            },
        ]}

        pillars = {[
            {
                "header":'Pillar I', 
                "img_type": 2,
                "title":"Friendship", 
                "description":"",
                "quote":"“A MAN'S FRIENDSHIPS ARE ONE OF THE BEST MEASURES OF HIS WORTH”",
                "author":"Charles Darwin"
            },
            {
                "header":'Pillar II', 
                "img_type": 1,
                "title":"Volunteering", 
                "description":"",
                "quote":"“TRY NOT TO BECOME A PERSON OF SUCCESS, BUT RATHER TRY TO BECOME A PERSON OF VALUE”",
                "author":"Albert Einstein"
            },
            {
                "header":'Pillar III', 
                "img_type": 2,
                "title":"Meaningfulness", 
                "description":"",
                "quote":"“I BELIEVE EVERY HUMAN HAS A FINITE NUMBER OF HEARTBEATS. I DON'T INTEND TO WASTE ANY OF MINE.”",
                "author":"Neil Armstrong"
            },
            {
                "header":'Pillar IV', 
                "img_type": 1,
                "title":"Leadership", 
                "description":"",
                "quote":"“IF YOUR ACTIONS INSPIRE OTHERS TO DREAM MORE, LEARN MORE, DO MORE, AND BECOME MORE, YOU ARE A LEADER.”",
                "author":"John Quincy Adams"
            },
        ]}
    />
</Layout>
